body {
  background-image: url(https://cutewallpaper.org/cdn-cgi/mirage/91b98c5373d6a01796e55b9f978389531ff4e5ebae85abd935c54ab8d42fdd46/1280/21/galaxy-gif-background/Galaxy-discovered-by-A-b-b-y-a_tm-on-We-Heart-It.gif);
background-size: cover;}

.header {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.Title {
  text-align: center;
  color: orangered;
  font-size: 3em;
  font-size: bold;
}

.healthContainer{
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.buttons{
  border: solid blue;
  background-color: orangered;
  
}

.human{
  width: 30%;
  height: 30%;
  border: solid white;
}

.alien{
  width: 30%;
  height: 30%;
  border: solid white;
}



.rowone {border:
   solid rgb(9, 32, 238); height:50%; 
   margin: 12px; display: flex;
    justify-content: space-between;
  position: relative;
  background-image: url(https://cdn.mos.cms.futurecdn.net/9UmWCbyxpKaEGXjwFG7dXo.jpg)}
  


.picB{
 width: 90%;
 height: 70%;
 

}

.picA{
  width: 90%;
  height: 70%;
  justify-content: center;
 
 }

 .player{
  color: orangered;
  font-size: 2em;
  text-align: center;
  font-size: bold;
  
 }

 .health1, .health2{
  background: orange;  
  position: absolute;
  bottom: 0px;
 left: 0;
  right: 0; 


 }



.banner{
  color: white;
}


.battery {
  border: 3px solid orangered;
  width: 30px;
  height: 40px;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  margin: 15px 0; 
  }
  